nav {
    display: flex;
    align-items: center;
    border-bottom-style: solid;
    border-width: 0.1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    background-color: rgb(240, 240, 240);
    width: 100%;
    gap: 0.15rem;
    font-size: 0.7rem;
}

nav p {
    display: inline;
    margin: 0;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

#popular {
    color: rgb(255, 69, 0);
    font-weight: bold;
}

#top-subreddits {
    display: flex;
    gap: 0.15rem;
}

#my-subreddits {
    margin-left: 0.25rem;
    margin-right: 0.4rem;
}

#more-button {
    font-weight: bold;
    margin-left: auto;
    margin-right: 0.2rem;
    overflow-x: hidden;
    white-space: nowrap;
}
