body {
    margin: 0;
    padding: 0;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar a,
p {
    display: inline;
}

nav {
    display: flex;
    align-items: center;
}

.navbar {
    border-bottom-style: solid;
    border-width: 0.1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-size: 0.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    background-color: rgb(240, 240, 240);
    width: 100%;
    gap: 0.15rem;
    align-items: center;
    overflow-x: hidden;
    white-space: nowrap;
}

#popular {
    color: rgb(255, 69, 0);
    font-weight: bold;

}

.seperator-top-bar {
    color: rgb(80, 80, 80);
}

#my-subreddits {
    margin-left: 0.25rem;
    margin-right: 0.4rem;
}

.my-subreddits:hover {
    text-decoration: none;
}

#more {
    font-weight: bold;
    float: right;
    border-bottom-style: solid;
    border-width: 0.1rem;
    padding: 0.25rem;
    font-size: 0.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    background-color: rgb(240, 240, 240);
    text-decoration: none;
    white-space: nowrap;
}

.reddit-logo-div {
    background-color: rgb(206, 227, 248);
    height: 2.81rem;
    border-bottom-style: solid;
    border-width: 0.05rem;
    border-color: rgb(95, 153, 207);
}

.reddit-logo {
    width: 7rem;
    margin-top: 0.15rem;
    margin-left: 0.2rem;
    margin-right: 0.4rem;
}

.reddit-logo-options {
    color: rgb(51, 102, 153);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7rem;
    font-weight: bold;
    text-decoration: none;
    background-color: rgb(239, 247, 255);
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

#logo-options {
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-color: rgb(95, 153, 207);
    color: rgb(255, 69, 0);
    border-width: 0.05rem;
}

.reddit-logo-options:active {
    color: rgb(255, 69, 0);
    border-color: rgb(95, 153, 207) !important;
    border-left: solid;
    border-top: solid;
    border-right: solid;
    border-width: 0.05rem;
    padding-left: 0.24rem;
    padding-right: 0.24rem;
    /* Make button go down when active */
}

.sign-up-div {
    float: right;
    margin-top: 1.59rem;
    padding-left: 0.2rem;
    padding-right: 0.1rem;
    padding-top: 0.15rem;
    background-color: rgb(239, 247, 255);
    height: 1.1rem;
    width: 17.4rem;
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
    border-top-left-radius: 0.5rem;
}

.log-in-button,
.sign-up-button {
    color: rgb(51, 102, 153);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
}

.log-in-button:hover,
.sign-up-button:hover {
    cursor: pointer;
}

#popular-search {
    margin-top: 0.1rem;
    margin-left: 0.35rem;
    margin-right: 0.6rem;
    padding-bottom: 0.2rem;
    border-bottom-style: dotted;
    border-width: 0.1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
    display: block;
}

#popular-search span {
    color: rgb(128, 128, 128);
    font-weight: bold;
}

#post-container {
    display: flex;
    flex-direction: column;
    float: right;
    gap: 0.5rem;
    margin-top: 0.15rem;
}

#post-container input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 14.4rem;
    height: 1.4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7rem;
    padding-left: 0.3rem;
    border-style: solid;
    border-width: 0.05rem;
}

#post-container input:focus {
    outline: none;
}

#post-container button {
    border-style: solid;
    border-width: 0.05rem;
    width: 15rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7rem;
    color: rgb(51, 102, 153);
    background-color: rgb(235, 243, 252);
    border-color: rgb(196, 219, 241);
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    height: 1.5rem;
    border-top-right-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    cursor: pointer;
}

.post-div {
    display: flex;
    align-items: center;
}

.post-number {
    margin-left: 12px;
    font-size: 12px;
    color: gray;
    font-family: Arial;
    text-align: center;
    min-width: 0.8rem;
}

.rating-buttons-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 0.8rem;
}

.rate-up:hover,
.rate-down:hover {
    cursor: pointer;
}

.rate-up,
.rate-down,
.rating {
    margin: -1.5px;
    font-size: 10px;
    color: gray;
    font-weight: bold;
}

.post-image {
    width: 30px;
    margin-right: 8px;
}

.post-title {
    display: block;
    text-decoration: none;
    color: blue;
    font-family: Arial;
    font-size: 12px;
    margin-bottom: 1px;
}

.post-details {
    color: gray;
    font-family: Arial;
    font-size: 7px;
}

.post-subdetails {
    margin-top: 1px;
}

.post-subdetails a {
    color: gray;
    text-decoration: none;
    font-weight: bold;
    margin-right: 3px;
}

.post-time,
.post-to {
    display: inline;
}

.post-op,
.post-subreddit {
    color: rgb(52, 108, 178);
}

.post-comments:hover,
.post-share:hover,
.post-save:hover,
.post-hide:hover,
.post-report:hover {
    text-decoration: underline;
}

#view-more {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.44rem;
    color: rgb(128, 128, 128);
    margin-left: 0.25rem;
}

#next-button {
    background-color: rgb(238, 238, 238);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.45rem;
    font-weight: bold;
    color: rgb(51, 102, 153);
    border-width: 1px;
    border-radius: 0.1rem;
    height: 0.8rem;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    padding-left: 0.15rem;
    padding-right: 0.15rem;
    cursor: pointer;
}

footer {
    display: flex;
    color: rgb(128, 128, 128);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7rem;
    justify-content: center;
    margin-bottom: 1rem;
}

footer a {
    color: rgb(51, 102, 178);
    text-decoration: none;
    font-size: 0.5rem;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    margin-bottom: 0.2rem;
    margin-top: 0;
    padding-top: 0.2rem;
    padding-bottom: 0.4rem;
    border-bottom: solid;
    border-width: 0.07rem;
    ;
}

footer div {
    display: flex;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.2rem;
    padding: 0.2rem;
    padding-top: 0;
}

footer #about,
footer #help,
footer #apps {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.09rem;
}
