body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#popular-search {
    margin-top: 0.1rem;
    margin-left: 0.35rem;
    margin-right: 0.6rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0.2rem;
    border-bottom-style: dotted;
    border-width: 0.1px;
    font-size: 0.8rem;
    display: flex;
    height: 1.3rem;
}

#popular-search p {
    margin-top: 0.1rem;
}

#popular-search span {
    color: rgb(128, 128, 128);
    font-weight: bold;
}

#post-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    gap: 0.5rem;
    margin-top: 0.15rem;
}

#search-bar input {
    width: 16.35rem;
    height: 1.6rem;
    font-size: 0.9rem;
    padding-left: 0.3rem;
    border-style: solid;
    border-width: 0.05rem;
}

#search-bar input:focus {
    outline: none;
}

#magnifying-glass {
    color: rgb(128, 128, 128);
    height: 13px;
    width: 13px;
    background-image: url(../images/sprite-reddit.png);
    background-position: -19px -1696px;
    cursor: pointer;
    position: relative;
    left: 15.6rem;
    bottom: 1.4rem;
}

#post-container button {
    border-style: solid;
    border-width: 0.05rem;
    width: 17rem;
    height: 2rem;
    font-size: 0.8rem;
    color: rgb(81, 120, 158);
    background-color: rgb(235, 243, 252);
    border-color: rgb(196, 219, 241);
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    border-radius: 0.8rem;
    cursor: pointer;
}

#post-container button:hover {
    background-color: rgb(113, 163, 210);
    color: white;
}

.post-div {
    display: flex;
    align-items: center;
    margin-bottom: 0.4rem;
}

.post-number {
    margin-left: 0.8rem;
    font-size: 1rem;
    color: rgb(128, 128, 128);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.2rem;
    min-width: 1.3rem;
}

.rating-buttons-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    gap: 0.14rem;
    min-width: 2.2rem;
}

#rate-up {
    width: 14px;
    height: 15px;
    background-image: url(../images/sprite-reddit.png);
    background-position: -21px -1676px;
}

#rate-down {
    width: 14px;
    height: 15px;
    background-image: url(../images/sprite-reddit.png);
    background-position: -108px -1654px;
}

#rate-up:active {
    background-position: -42px -1676px;
}

#rate-down:active {
    background-position: 0px -1676px;
}

#rate-up:hover,
#rate-down:hover {
    cursor: pointer;
}

#rating {
    font-size: 1rem;
    color: rgb(182, 182, 182);
    font-weight: bold;
}

#rate-up,
#rate-down,
#rating {
    margin: -0.1rem;
}

#post-image {
    width: 3.4rem;
    margin-right: 0.8rem;
}

#post-title {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: blue;
    font-size: 1.3rem;
    margin-bottom: 0.15rem;
}

/* Change name */
#flex-column {
    display: flex;
    flex-direction: row;
}

.post-preview {
    width: 23px;
    height: 23px;
    background-image: url(../images/sprite-expando.png);
    background-position: 0px -549px;
    margin-right: 0.3rem;
    margin-top: 0.13rem;
    cursor: pointer;
}

.post-preview:active {
    background-position: 0px -433px;
}

.post-preview-content {
    border: solid 0.1rem rgb(51, 102, 153);
    background-color: rgb(250, 250, 250);
    border-radius: 0.2rem;
    padding: 0.3rem;
    margin: 0;
    font-size: 0.8rem;
}

#post-details {
    display: flex;
    flex-direction: column;
    color: gray;
    font-size: 0.6rem;
}

#post-details a {
    text-decoration: none;
}

#post-details a:hover {
    text-decoration: underline;
}

#post-subdetails {
    margin-top: 0.12rem;
}

#post-subdetails a {
    color: gray;
    text-decoration: none;
    font-weight: bold;
    margin-right: 0.2rem;
}

#post-subdetails a:hover {
    text-decoration: underline;
}

.post-time,
.post-to {
    display: inline;
}

.post-op,
.post-subreddit {
    color: rgb(52, 108, 178);
}

#view-more-div {
    margin-top: 0.4rem;
}

#view-more-div p {
    font-size: 0.8rem;
    color: rgb(128, 128, 128);
    margin-left: 0.4rem;
}

#view-more-div button {
    background-color: rgb(238, 238, 238);
    font-size: 0.9rem;
    font-weight: bold;
    color: rgb(51, 102, 153);
    border-width: 0.05rem;
    border-radius: 0.2rem;
    height: 1.25rem;
    width: 3.5rem;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    margin-top: 0.3rem;
    cursor: pointer;
}

footer {
    display: flex;
    color: rgb(128, 128, 128);
    font-size: 1rem;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#footer-box {
    border-style: solid;
    border-width: 1px;
    border-radius: 0.2rem;
}

footer a {
    color: rgb(51, 102, 178);
    text-decoration: none;
    font-size: 0.8rem;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    margin-bottom: 0.2rem;
    margin-top: 0;
    padding-top: 0.2rem;
    padding-bottom: 0.4rem;
    border-bottom: solid;
    border-width: 0.07rem;
}

footer div {
    display: flex;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    padding: 0.2rem;
    padding-top: 0;
}

footer #help {
    border-left: 0.05rem solid rgb(128, 128, 128);
    border-right: 0.05rem solid rgb(128, 128, 128);
    padding: 0 1rem;
}

footer #about,
footer #help,
footer #apps {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.09rem;
    margin: 0.38rem 0.38rem;
}
